@import "_rootimport.scss";
@import "rootimport2";
@import "{}/topimport";

@import "{test:test2}/sub/test2import";

.root{
  color:$color;
  background-color:$test2color;
  border:1px solid purple;
}

.top{
  color:$topcolor;
}