//meteor-scss-test.scss
@import "subimport";
@import "../_rootimport2.scss";

/* CSS declarations go here */
/*
body {
  @include medium-large{
    display: flex;
  }
}*/

.sub{
  color:$color;
  background-color:$root2color;
}
